<p-dialog #loginDialog 
header='Login' 
[(visible)]="visible"
[modal]="true" 
[dismissableMask]="true"
[closable]="true" 
[focusOnShow]="false" 
[maximizable]="false" 
[draggable]="false" 
[resizable]="true" 
>

  <br *ngIf="registration">
  <span *ngIf="registration" class="ui-float-label">
    <input id="float-input" type="text" size="30" [(ngModel)]="loginInfo.email" pInputText> 
    <label for="float-input">E-Mail</label>
  </span>

  <br>
  <span class="ui-float-label">
    <input id="float-input" type="text" size="30" [(ngModel)]="loginInfo.username" pInputText> 
    <label for="float-input">Username</label>
  </span>

  <br>
  <span class="ui-float-label">
    <input pPassword type="password" size="30" [(ngModel)]="loginInfo.password" [feedback]="false"/>
    <label for="float-input">Password</label>
  </span>

  <br *ngIf="registration">
  <span *ngIf="registration" class="ui-float-label">
    <input pPassword type="password" size="30" [(ngModel)]="loginInfo.password" [feedback]="false" />
    <label for="float-input">Confirm Password</label>
  </span>

  <br *ngIf="!registration">
  <a *ngIf="!registration">Forgotten password</a>
  <br *ngIf="!registration">
  <a *ngIf="!registration" [routerLink]="" (click)="transformRegister()">First registration</a>

  

  <p-footer>
    <!--
    <button type="button" [disabled]="blueprintNameModel.invalid || usernameModel.invalid" pButton icon="pi pi-check" (click)="save($event)" label="Save"></button>
    -->
    
    <button type="button" pButton (click)="login()" label="{{registration?'Register':'Login'}}"></button>
  </p-footer>

</p-dialog>