.side-panel {
  position: absolute;
  width: 310px;
  padding: 10px;
}

.side-panel-right {
  position: absolute;
  right:0;
  padding: 10px;
}
.side-panel-about {
  position: absolute;
  right:0;
  padding: 10px;
  height: 90vh;
}

.outer {
  display: flex;
  flex-flow: column;
}