
<p-toast position="top-right" [style]="{marginTop: '40px'}"></p-toast>
<div class="p-grid p-nogutter">
  <div class="p-col-12">
    <app-component-menu 
      #menu
      (onMenuCommand)="menuCommand($event)"
      (onTemplateUpload)="templateUpload($event)"
      (onTemplateUploadJson)="templateUploadJson($event)"
      (onTemplateUploadBson)="templateUploadBson($event)">
    </app-component-menu>
  </div>
  <div class="p-col-12">
    <div class="p-grid p-nogutter">
      <div class="p-col-fixed" style="width:300px">
        <app-component-side-panel 
          #sidePanel 
          (onAskChangeTool)=askChangeTool($event)
          (onDestroyTemplateItem)=destroyTemplateItem($event)>
        </app-component-side-panel>
      </div>
      <div class="p-col">
        <app-component-canvas 
          #canvas 
          (onTileInfoChange)="onTileInfoChange($event)"
          (onAskChangeTool)=askChangeTool($event)>
        </app-component-canvas>
      </div>
    </div>
  </div>
</div>

<app-component-save-dialog #saveDialog 
  [blueprint]="this.canvas.blueprint"
  ></app-component-save-dialog>
<app-login-dialog #loginDialog></app-login-dialog>
