
<p-toast position="top-center" [style]="{marginTop: '40px'}"></p-toast>

<app-component-canvas #canvas></app-component-canvas>
<div class="outer">
  <div>
    <app-component-menu #menu (onMenuCommand)="menuCommand($event)">
    </app-component-menu>
    <div class="side-panel">
      <app-selection-tool 
        #selectionTool 
        [hidden]="!toolService.selectTool.visible || !toolService.selectTool.showTool">
      </app-selection-tool>
      <app-build-tool 
        #buildTool 
        [hidden]="!toolService.buildTool.visible">
      </app-build-tool>
    </div>
    <div class="side-panel-right">
      <app-element-report-tool  *ngIf="toolService.elementReportTool.visible" #elementReportTool>
      </app-element-report-tool>
    </div>
  </div>
</div>


<app-component-save-dialog #saveDialog></app-component-save-dialog>
<app-login-dialog #loginDialog></app-login-dialog>
<app-dialog-share-url #shareUrlDialog></app-dialog-share-url>
<app-dialog-browse #browseDialog></app-dialog-browse>
<app-dialog-export-images #exportImagesDialog (onSaveImages)="saveImages($event)"></app-dialog-export-images>

