<form [formGroup]="saveBlueprintForm" (ngSubmit)="onSubmit()">
  <p-dialog #saveDialog 
  header='Save blueprint to the cloud' 
  [(visible)]="visible"
  [modal]="true" 
  [dismissableMask]="true"
  [closable]="true" 
  [focusOnShow]="false" 
  [maximizable]="false" 
  [draggable]="false" 
  [resizable]="false" 
  >

  <div *ngIf="blueprintService.thumbnail == null" class="error-red">The thumbnail is being generated</div>
    <br>
    <span class="ui-float-label">
      <input class="float-input" type="text" size="60" formControlName="name" pInputText> 
      <label for="float-input">Blueprint name</label>
    </span>
    <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)" class="error-red" >
      <div *ngIf="f.name.errors.required">Blueprint name is required.</div>
    </div>
    <div *ngIf="overwrite" class="error-red">You already have a blueprint with this name. Overwrite?</div>
    <div *ngIf="!authService.isLoggedIn()" class="error-red">You must be logged in to save a blueprint</div>

    <p-footer>
      
      <p-button *ngIf="!overwrite" type="submit" label="Save" [icon]="icon" [disabled]="!saveBlueprintForm.valid || saveBlueprintForm.pending || working || !authService.isLoggedIn()" ></p-button>
      <button *ngIf="overwrite" type="button" pButton icon="pi pi-times" (click)="doNotOverwrite()" label="No" class="ui-button-danger"></button>
      <button *ngIf="overwrite" type="button" pButton [icon]="working ? 'pi pi-spin pi-spinner' : 'pi pi-check'" (click)="doOverwrite()" label="Yes" [disabled]="working"></button>
    </p-footer>

  </p-dialog>
</form>