<div #selectToolCard class="select-card ui-widget">
  <div class="title">Select Tool</div>
  <div class="button-line">
    <button pButton type="button" class="ui-button"             icon="pi pi-chevron-down" (click)="itemGroupeNext()" pTooltip="Select next item group"></button>
    <button pButton type="button" class="ui-button buttonspace" icon="pi pi-chevron-up"   (click)="itemGroupePrevious()" pTooltip="Select previous item group"></button>
    <button pButton type="button" class="ui-button buttonspace" icon="pi pi-trash"        (click)="destroyAll()" pTooltip="Destroy every item group"></button>
  </div>
  <div class="scrollable">
    <p-accordion #buildingsAccordion>
      <p-accordionTab *ngFor="let itemCollection of toolService.selectTool.sameItemCollections" [(selected)]="itemCollection.selected" [header]="itemCollection.header" [transitionOptions]="'0ms'">
        <app-item-collection-info [itemCollection]=itemCollection>
        </app-item-collection-info>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
