.title {
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 10px;
}

.buttonspace {
  margin-left: 5px
}

.button-line {
  margin-bottom: 10px;
}

.scrollable {
  overflow-y: scroll;
  flex-grow: 0;
}

.test {
  background-color: aqua;
  flex-grow: 0;
  flex-shrink: 1;
  overflow-y: auto;
}

.select-card {
  background-color: #ffffff;
  color: #333333;
  border-radius: 3px; 
  padding: 10px;
  width: 100%;
  display: flex;
  flex-flow: column;

  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); 
}
