.error-red {
	color: darkred;
  margin-left: 0.5em;
}

.pending-blue {
  color: darkblue;
  margin-left: 0.5em;
}

.valid-green {
  color: darkgreen;
  margin-left: 0.5em;
}

.recaptcha-wrap {
  font-size: x-small;
  width: 25em;
}