<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <br>
  <span class="p-float-label">
    <input class="float-input" type="text" size="30" id="email" formControlName="email" pInputText> 
    <label for="inputtext">E-Mail</label>
  </span>
  <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="error-red" >
    <div *ngIf="f.email.errors.required">E-Mail is required.</div>
    <div *ngIf="f.email.errors.email">E-Mail is not valid.</div>
  </div>

  <br>
  <span class="p-float-label">
    <input type="text" size="30" formControlName="username" pInputText> 
    <label for="inputtext">Username</label>
  </span>
  <div *ngIf="f.username.invalid && (f.username.dirty || f.username.touched)" class="error-red" >
    <div *ngIf="f.username.errors.required">Username is required.</div>
    <div *ngIf="f.username.errors?.usernameExists">Username is unavailable.</div>
    <div *ngIf="f.username.errors.invalidChars">Invalid characters in username</div>
  </div>
  <div *ngIf="f.username.pending" class="pending-blue" >Checking username availability...</div>
  <div *ngIf="f.username.valid" class="valid-green" >Username is available</div>

  <br>
  <span class="p-float-label">
    <input pPassword type="password" size="30" formControlName="password" [feedback]="false"/>
    <label for="inputtext">Password</label>
  </span>
  <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" class="error-red" >
    <div *ngIf="f.password.errors.required">Password is required.</div>
  </div>

  <br>
  <span class="p-float-label">
    <input pPassword type="password" size="30" formControlName="confirmPassword" [feedback]="false" />
    <label for="inputtext">Confirm Password</label>
  </span>
  <div *ngIf="registerForm.errors?.invalid" class="error-red" >Passwords must match.</div>
  <div *ngIf="authError" class="error-red" >Authentification error</div>
  <div *ngIf="duplicateError" class="error-red" >Username or e-mail is already registered</div>

  <br>
  <div class="recaptcha-wrap">
    This site is protected by reCAPTCHA and the Google
    <a href="https://policies.google.com/privacy">Privacy Policy</a> and
    <a href="https://policies.google.com/terms">Terms of Service</a> apply.
  </div>

  <!--This is just here so that enter submits the form-->
  <button type="submit" style='visibility:hidden'></button>

  
</form>
