<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <br>
  <span class="ui-float-label">
    <input class="float-input" type="text" size="30" id="email" formControlName="email" pInputText> 
    <label for="float-input">E-Mail</label>
  </span>
  <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="error-red" >
    <div *ngIf="f.email.errors.required">
      E-Mail is required.
    </div>
    <div *ngIf="f.email.errors.email">
      E-Mail is not valid.
    </div>
  </div>
  <p 
    style="color: red"
    *ngIf="f.email.errors?.emailExists">Not available</p>

  <br>
  <span class="ui-float-label">
    <input class="float-input" type="text" size="30" formControlName="username" pInputText> 
    <label for="float-input">Username</label>
  </span>
  <div *ngIf="f.username.invalid && (f.username.dirty || f.username.touched)" class="error-red" >
    <div *ngIf="f.username.errors.required">
      Username is required.
    </div>
  </div>

  <br>
  <span class="ui-float-label">
    <input pPassword type="password" size="30" formControlName="password" [feedback]="false"/>
    <label for="float-input">Password</label>
  </span>
  <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" class="error-red" >
    <div *ngIf="f.password.errors.required">
      Password is required.
    </div>
  </div>

  <br>
  <span class="ui-float-label">
    <input pPassword type="password" size="30" formControlName="confirmPassword" [feedback]="false" />
    <label for="float-input">Confirm Password</label>
  </span>
  <div *ngIf="registerForm.errors?.invalid" class="error-red" >
    Passwords must match.
  </div>

  <br>
  <button type="submit" pButton label="Register" [disabled]="!registerForm.valid || registerForm.pending" ></button>
</form>


<!--
<br *ngIf="!registration">
<a *ngIf="!registration">Forgotten password</a>
<br *ngIf="!registration">
<a *ngIf="!registration" [routerLink]="" (click)="transformRegister()">First registration</a>

-->

