<svg [attr.width]="width" [attr.height]="height" version="1.1" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
  <circle id="back" cx="64" cy="64" r="59" [attr.fill]="backColor"/>
  <circle id="front" cx="64" cy="64" r="59" fill="none" [attr.stroke]="frontColor" stroke-width="10"/>
  <path id="icon" [attr.fill]="frontColor" [attr.d]="svgPath"/>
</svg>