<div>
  <input class="float-input" type="text" size="30" 
    placeholder="Search"
    [(ngModel)]="filterName" 
    (ngModelChange)="filterNameSubject.next($event)" pInputText > 
</div>

<div *ngIf="!isForcedTag">
  <p-checkbox name="groupTag" (onChange)="tagChanged($event)" value="Gas" label="Gas" [(ngModel)]="selectedTags" inputId="Gas"></p-checkbox>
  <span class="second-checkbox"><p-checkbox name="groupTag" (onChange)="tagChanged($event)" value="Liquid" label="Liquid" [(ngModel)]="selectedTags" inputId="Liquid"></p-checkbox></span>
</div>

<div class="element-list">
  <div *ngFor="let element of elements" class="ui-clickable-icon element-button" (click)="selectElement(element)" style="margin-bottom: 5px;">
    <div class="element-panel-content">
      <app-element-icon [element]="element" [width]="'25px'" [height]="'25px'"></app-element-icon>
      <div class="element-panel-text">{{element.name}}</div>
    </div>
  </div>
</div>
