<div class="about-card ui-widget">
    <a class="ui-close-button" (click)="close()"><span class="pi pi-times"></span></a>
  <div></div>
  <img src="assets/images/ui/manual/logo.png" class="logo" width="100px">
  <h1>About BlueprintNotIncluded</h1>
  <h3>What is this website ?</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor tincidunt neque, ultrices mollis enim eleifend ac. Proin eget pretium ligula. Sed imperdiet fringilla est, sed semper nisl tincidunt quis. Praesent sit amet elementum velit. Aliquam tempus odio nec odio aliquet accumsan. Fusce maximus fringilla justo. Proin consequat semper lorem at vulputate. Vestibulum eget dolor imperdiet, porta orci eget, tincidunt sapien

          
</div>