<div class="about-card ui-widget">
  <div class="header">
    <h1>About BlueprintNotIncluded</h1>
    <a class="ui-close-button" (click)="close()"><span class="pi pi-times"></span></a>
  </div>
  
  <div class="scrollable">
    
    <h3>What is this website ?</h3>
    <div class="content">
      <img class="image-float-right" height="200px" src="assets/images/ui/manual/logo.png">
      Hi! I created this website after playing <a href="https://www.klei.com/games/oxygen-not-included" target="_blank">Oyxgen not included</a> for a while, browsing the subreddits and forums for the game. 
      One thing I noticed is that when sharing their builds, people usually share a bunch of imgur pictures with the different overlays. This is fine for simple builds, but you can't very well zoom in, switch overlays, look what the setting is on that buffer logic switch... 
      So I decided to create a tool where players could either upload the builds they created in game, or create their build from scratch on the web page. Here are some current features of the website :
      <ul>
        <li>You can build your blueprint from scratch using the various tools</li>
        <li>You can import templates from the game (more on that later)</li>
        <li>You can cycle between various overlays. each overlay will hightlight different buildings</li>
        <li>You can save your blueprints</li>
        <li>You can share your blueprints, by exporting png images for each overlay</li>
        <li>Or by sharing a link that will directly open your blueprint! <a href="https://blueprintnotincluded.com/b/5de2666b7c0edb5515e65315" target="blueprint_link">click here to open my SPOM in a new tab!</a></li>
      </ul>
    </div>

    <br>
    <h3>Controls</h3>
    <div class="content">
      <img class="image-float-right" height="200px" src="assets/images/ui/manual/gravitas_display1_manual.png">
      <span class="block-title">Camera controls :</span>
      <ul>
        <li>To move the camera with the mouse, press and hold the right mouse button, and drag the camera around</li>
        <li>Alternatively, you can use the arrow keys to move the camera by one tile in the direction of the arrow</li>
        <li>To zoom in / out, you can either use the mouse wheel, or use the "+" or "-" keys on your keypad</li>
      </ul>
      <span class="block-title">Other Controls :</span>
      <ul>
        <li>Ctrl-Z and Ctrl-Y will "undo" / "redo" any action you just made. These are also available in the "Edit" menu</li>
        <li>The "B" key will open the build tool. You can also get there with the "Tool : Build" menu</li>
      </ul>
    </div>
  </div>
</div>