<div #focusElement tabindex="0"></div>
{{nbItems}}<br>

<img [src]="itemCollection.oniItem.iconUrl" height="70px"><br>
<button pButton type="button" class="ui-button" icon="pi pi-search-minus" (click)="removeFromSelection()" pTooltip="Remove these building from selection"></button>
<button pButton type="button" class="ui-button buttonspace" icon="pi pi-clone" (click)="buildingsCopy()" pTooltip="Build this type of building"></button>
<button pButton type="button" class="ui-button buttonspace" icon="pi pi-trash" (click)="buildingsDestroy()" pTooltip="Destroy these buildings (Delete key)"></button>

