<div #focusElement tabindex="0"></div>

<!--{{debug}}-->

<div *ngIf="!itemCollection.oniItem.isInfo">
  <div class="icon-nb-items">
    <img *ngIf="itemCollection.oniItem.iconUrl != null" [src]="itemCollection.oniItem.iconUrl" height="70px">
    <div class="text-nb-items">{{nbItems}}</div>
  </div>
  <app-buildable-element-picker 
    [currentElement]="itemCollection.items[0].buildableElements"
    [buildableElementsArray]="itemCollection.oniItem.buildableElementsArray"
    [nbElements]="itemCollection.nbElements"
    [isGasLiquid]="isGasLiquid"
    (changeElement)="changeElement($event)">
  </app-buildable-element-picker>

  <app-temperature-picker
    [blueprintItem]=itemCollection.items[0]
    [temperatureWarning]="itemCollection.temperatureWarning"
    (changeTemperature)="changeTemperature($event)">
  </app-temperature-picker>

  <app-ui-screen-container
    *ngIf="itemCollection.items.length == 1"
    [blueprintItem]="itemCollection.items[0]">
  </app-ui-screen-container>
</div>

<div *ngIf="itemCollection.oniItem.isInfo && itemCollection.items.length == 1">
  <app-info-input [blueprintIteminfo]="itemCollection.items[0]">
  </app-info-input>
</div>
<br>
<button pButton type="button" class="ui-button buttonspace" icon="pi pi-clone" (click)="buildingsCopy()" pTooltip="Build this type of building"></button>
<button pButton type="button" class="ui-button buttonspace" icon="pi pi-search-plus" (click)="selectEvery()" pTooltip="Select every {{itemCollection.oniItem.name}}"></button>
<button pButton type="button" class="ui-button buttonspace" icon="pi pi-trash" (click)="buildingsDestroy()" pTooltip="Destroy these buildings (Delete key)"></button>


