.buttonspace {
  margin-left: 5px
}

.icon-nb-items {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.text-nb-items {
  margin-left: auto;
  margin-right: auto
}