<p-dialog #browseDialog 
  header='Browse Blueprints' 
  [(visible)]="visible"
  [modal]="true" 
  [dismissableMask]="true"
  [closable]="true" 
  [focusOnShow]="false" 
  [maximizable]="false" 
  [draggable]="false" 
  [resizable]="false"
  [contentStyle]="{'max-height':'600px', 'max-width':'800px', 'overflow':'scroll'}"
  >
  <div class="p-grid">
    <div class="p-col-4" *ngFor="let item of blueprintListItems">
      <p-panel [header]=item.name>
        <img [src]=item.thumbnail width="200px">
        <h4>Author : {{item.name}}</h4>
        <h4>Created : {{item.createdAt}}</h4>
        <h4>Modified : {{item.modifiedAt}}</h4>
      </p-panel>
    </div>
  </div>

</p-dialog>