<div class="element-card ui-widget">
    <div class="header">
      <span class="element-card-header">Element report</span>
      <a class="ui-close-button" (click)="close()"><span class="pi pi-times"></span></a>
    </div>
  <div class="scrollable">
    <div *ngFor="let dataItem of data" class="scroller-line">
      <img [src]="dataItem.buildableElement.iconUrl" class="element-image">
      <div class="element-text">{{dataItem.buildableElement.name}}</div>
      <div class="element-spacer"></div>
      <div class="element-mass">{{getMass(dataItem.totalMass)}}</div>
      <button pButton type="button" class="ui-button element-button" icon="pi pi-search-plus" (click)="selectEveryElement(dataItem.buildableElement)" pTooltip="Select every building made of {{dataItem.buildableElement.name}}" tooltipPosition="left"></button>
    </div>
  </div>
</div>