<p-dialog #exportImagesDialog 
  header='Export options' 
  [(visible)]="visible"
  [modal]="true" 
  [dismissableMask]="true"
  [closable]="true" 
  [focusOnShow]="false" 
  [maximizable]="false" 
  [draggable]="false" 
  [resizable]="false" 
  >
  <div class="grid">
    <div class="one">
        <p-fieldset legend="Size and grid options :">
        <p-checkbox binary="true" label="Export with grid lines"  [(ngModel)]="gridLines"></p-checkbox><br>
        <p-dropdown [options]="pixelPerTile" [(ngModel)]="currentPixelPerTile"></p-dropdown><br>
        Final images will be 1920x1080
        </p-fieldset>
    </div>
    <div class="three">
        <div>
          <p-fieldset legend="Overlays to export :">
            <div *ngFor="let overlayToExport of overlaysToExport"><p-checkbox binary="true" [label]="overlayToExport.name"  [(ngModel)]="overlayToExport.checked"></p-checkbox></div>
          </p-fieldset>
        </div>
    </div>
  </div>

  <p-footer>
    <p-button label="Download images"></p-button>
  </p-footer>

</p-dialog>