<p-dialog #exportImagesDialog 
  header='Exports images' 
  [(visible)]="visible"
  [modal]="true" 
  [dismissableMask]="true"
  [closable]="true" 
  [focusOnShow]="false" 
  [maximizable]="false" 
  [draggable]="false" 
  [resizable]="false" 
  [contentStyle]="{'width':'800px'}"
  >

  <div class="p-grid">
    <div class="p-col-3 box">
      <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
    </div>
    <div class="p-col-9 box">
      <h4>Included grid lines</h4>
    </div>
    <div class="p-col-3 box">
      <p-slider [(ngModel)]="val" [customStep]="cameraService.zoomLevels" [min]="minZoomLevel" [max]="maxZoomLevel" [style]="{'width':'100%'}"></p-slider>
    </div>
    <div class="p-col-9 box">
      <h4>Pixels per tile : {{val}}</h4>
    </div>
    <div class="p-col-3 box">
      <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
    </div>
    <div class="p-col-9 box">
      <h4>Included grid lines</h4>
    </div>
  </div>
  

</p-dialog>