
<p-card header="Build Tool">
  <p-dropdown 
    (onChange)="changeCategory()" 
    [options]=categories 
    [style]="{'width':'100%'}" 
    [(ngModel)]="currentCategory">
    <ng-template let-item pTemplate="selectedItem">
        <img src="{{item.value.categoryIconUrl}}" style="width:16px;vertical-align:middle" />
        <span style="vertical-align:middle; margin-left: .5em">{{item.value.categoryName}}</span>
    </ng-template>
    <ng-template let-category pTemplate="item">
      <div class="ui-helper-clearfix" style="position: relative;height: 30px;">
          <img src="{{category.value.categoryIconUrl}}" style="height:30px;position:absolute;left:5px"/>
          <div style="font-size:14px;float:right;margin-top:4px">{{category.value.categoryName}}</div>
      </div>
    </ng-template>
  </p-dropdown>
  <p-dropdown (onChange)="changeItem()" [options]=items [style]="{'width':'100%'}" [(ngModel)]="currentItem" appendTo="body" optionLabel="id"></p-dropdown>

  <p-accordion #buildingsAccordion [(activeIndex)]="activeIndex" >
    <!--
    <p-accordionTab header="{{templateItemToBuild.id}}">
      <app-component-tile-info [templateItem]=templateItemToBuild></app-component-tile-info>
    </p-accordionTab>
  -->
  </p-accordion>
</p-card>

