/* You can add global styles to this file, and also import other style files */

body {
    margin: 0; 
    padding: 0; 
    overflow: hidden;
}

.custom-icon {
  background: url('/assets/images/ui/compost_0.png') no-repeat !important;
  display: block !important;
  float: left;
	width: 30px !important;
	height: 30px !important;
	margin-right: 100px !important;
}
