/* You can add global styles to this file, and also import other style files */

body {
  margin: 0; 
  padding: 0; 
  overflow-y:auto;
  overflow-x:auto;
}

.grecaptcha-badge{
	visibility: collapse !important;  
}

.ui-clickable-icon {
  color: #333333;
  background-color: #f4f4f4;
  border: 1px solid #f4f4f4;
  box-sizing: border-box;
  display: inline-block;
  transition: background-color 0.2s, box-shadow 0.2s;
  cursor: pointer;
  border-radius: 3px;
}
  
.ui-clickable-icon:hover {
  background-color: #c8c8c8;
  color: #333333;
  border-color: #c8c8c8;
}

.ui-clickable-icon:focus {
  -webkit-box-shadow: 0 0 0 0.2em #8dcdff;
  -moz-box-shadow: 0 0 0 0.2em #8dcdff;
  box-shadow: 0 0 0 0.2em #8dcdff;
}

.ui-clickable-icon:active {
  background-color: #a0a0a0;
  color: #333333;
  border-color: #a0a0a0;
}

.ui-close-button {
  color: #848484;
  float: right;
  cursor: pointer;
  transition: color 0.2s;
}

.ui-close-button:hover {
  color: #333333;
}

.ui-fieldset {
  border: 1px solid #c8c8c8;
  background-color: #fff;
  border-radius: 3px;
  color: #333;
}

.ui-widget {
  font-family: "Open Sans","Helvetica Neue",sans-serif;
  font-size: 14px;
  text-decoration: none;
}

.ui-fieldset-false-link {
  cursor:pointer;
  color: #007ad9;
}

.ui-fieldset-legend {
  padding: .5em 1em;
}

.box-card {
  background-color: #ffffff;
  color: #333333;
  border-radius: 3px; 
  padding: 10px;
  width: 100%;
  display: flex;
  flex-flow: column;

  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); 
}

.box-card-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}