<div #divCalcHeight class="height-test-2">
<canvas #blueprintCanvas class="height-test-2"
  id="blueprintCanvas"
  
  tabindex="0"

  dragAndDrop 
    (myMouseDrag)="mouseDrag($event)"
    (myMouseStopDrag)="mouseStopDrag($event)"
    (myMouseMove)="mouseMove($event)" 
    (myMouseClick)="mouseClick($event)"
    (myMouseUp)="mouseUp($event)"
    (myMouseDown)="mouseDown($event)"
    (myMouseOut)="mouseOut($event)"
  mouseWheel 
    (mouseWheel)="mouseWheel($event)"
  keyEvents 
    (keyPress)="keyPress($event)">
    
  Your browser does not support canvas. 

</canvas>
</div>

