<p-card header="Build Tool">
  <div *ngIf="databaseLoaded">
    <div class="ui-clickable-icon element-button-width" (click)="showCategories($event)" style="margin-bottom: 5px;">
      <div class="building-panel-content">
        <img *ngIf="!currentItem.isElement" src="{{currentItem.iconUrl}}" height="40px" />
        <app-element-icon *ngIf="currentItem.isElement"
          [element]="currentItemToBuild.buildableElements[0]"
          [width]="'40px'"
          [height]="'40px'">
        </app-element-icon>
        <div class="left"></div>
        <div>{{currentItem.name}}</div>
        <div class="right"></div>
      </div>
    </div>

    <div *ngIf="currentItem.orientations.length > 1" >Press "O" to change item orientation</div>
    
    <app-buildable-element-picker 
      [currentElement]="currentItemToBuild.buildableElements"
      [buildableElementsArray]="currentItem.buildableElementsArray"
      [isGasLiquid]="isGasLiquid"
      (changeElement)="changeElement($event)">
    </app-buildable-element-picker>

    <app-temperature-picker
      [blueprintItem]=currentItemToBuild
      [temperatureWarning]="false">
    </app-temperature-picker>

    <app-ui-screen-container
      [blueprintItem]="currentItemToBuild">
    </app-ui-screen-container>
    
    <!-- These go first so we don't have to add one to the index when querying them -->
    <p-overlayPanel [appendTo]="'body'" *ngFor="let buildMenuCategory of buildMenuCategories; let indexCategory = index">
      <div *ngFor="let itemArray of items[indexCategory]" class="building-panel-content">
        <div *ngFor="let item of itemArray" class="ui-clickable-icon element-button" (click)="chooseItem(item)" [pTooltip]="item.name" tooltipPosition="bottom" life="5000">
            <img src="{{item.iconUrl}}" height="40px" />
        </div>
      </div>
    </p-overlayPanel>
    

  

  </div>
</p-card>

<p-overlayPanel #categoryPanel [appendTo]="'body'">
  <div class="building-panel-content">
    <div class="ui-clickable-icon element-button" (click)="paintElement()" [pTooltip]="'Paint Element'" tooltipPosition="bottom" life="5000">
      <img src="assets/images/ui/manual/liquid_icon.png" height="40px" />
    </div>
    <div *ngFor="let buildMenuCategory of buildMenuCategories; let indexCategory = index">
      <div class="ui-clickable-icon element-button" (click)="showItems($event, buildMenuCategory, indexCategory)" [pTooltip]="buildMenuCategory.categoryName" tooltipPosition="bottom" life="5000">
        <img src="{{buildMenuCategory.categoryIconUrl}}" height="40px" />
      </div>
    </div>
  </div>
</p-overlayPanel>

