



<p-card header="Build Tool">
  <div #focusTarget tabindex="0"></div>
  <div *ngIf="databaseLoaded">
    <button pButton type="button" class="ui-button-secondary element-button" (click)="showCategories($event)" style="margin-bottom: 5px;">
      <div class="building-panel-content">
        <img src="{{currentItem.iconUrl}}" height="40px" />
        <div class="left"></div>
        <div>{{currentItem.name}}</div>
        <div class="right"></div>
      </div>
    </button>
    <app-buildable-element-picker 
      [currentElement]="currentItem.defaultElement"
      [buildableElements]="currentItem.buildableElements"
      (changeElement)="changeElement($event)">
    </app-buildable-element-picker>
  
    <div *ngIf="currentItem.orientations.length > 1" >Press "O" to change item orientation</div>
  </div>
</p-card>

<p-overlayPanel #categoryPanel [appendTo]="'body'">
  <div class="building-panel-content">
    <div #itemPanelTarget></div>
    <div *ngFor="let buildMenuCategory of buildMenuCategories">
      <button pButton type="button" class="ui-button-secondary element-button" [pTooltip]="buildMenuCategory.categoryName" (click)="showItems($event, buildMenuCategory)" tooltipPosition="bottom">
        <img src="{{buildMenuCategory.categoryIconUrl}}" height="40px" />
      </button>
    </div>
  </div>
</p-overlayPanel>

<p-overlayPanel #itemPanel [appendTo]="'body'">
  <div class="building-panel-item-content">
    <div *ngFor="let item of items" class="building-panel-item">
      <button pButton type="button" class="ui-button-secondary element-button-fixed" [pTooltip]="item.name" (click)="chooseItem(item)" tooltipPosition="bottom">
        <img src="{{item.iconUrl}}" height="40px" />
      </button>
    </div>
  </div>
</p-overlayPanel>

