<p-card header="Build Tool">
  <div *ngIf="databaseLoaded">
    <div class="ui-clickable-icon element-button-width" (click)="showCategories($event)" style="margin-bottom: 5px;">
      <div class="building-panel-content">
        <img src="{{currentItem.iconUrl}}" height="40px" />
        <div class="left"></div>
        <div>{{currentItem.name}}</div>
        <div class="right"></div>
      </div>
    </div>
    <app-buildable-element-picker 
      [currentElement]="currentItem.defaultElement"
      [buildableElements]="currentItem.buildableElements"
      (changeElement)="changeElement($event)">
    </app-buildable-element-picker>
  
    <div *ngIf="currentItem.orientations.length > 1" >Press "O" to change item orientation</div>
  </div>
</p-card>

<p-overlayPanel #categoryPanel [appendTo]="'body'">
  <div class="building-panel-content">
    <div #itemPanelTarget></div>
    <div *ngFor="let buildMenuCategory of buildMenuCategories">
      <div class="ui-clickable-icon element-button" (click)="showItems($event, buildMenuCategory)" [pTooltip]="buildMenuCategory.categoryName" tooltipPosition="bottom">
        <img src="{{buildMenuCategory.categoryIconUrl}}" height="40px" />
      </div>
    </div>
  </div>
</p-overlayPanel>

<p-overlayPanel #itemPanel [appendTo]="'body'">
  <div >
    <div *ngFor="let itemArray of items" class="building-panel-content">
      <div *ngFor="let item of itemArray" class="ui-clickable-icon element-button" (click)="chooseItem(item)" [pTooltip]="item.name" tooltipPosition="bottom">
          <img src="{{item.iconUrl}}" height="40px" />
      </div>
    </div>
  </div>
</p-overlayPanel>

