<p-card header="Selection Tool">
  <h3>{{toolService.selectTool.headerString}}</h3>
  <p-accordion 
    #buildingsAccordion 
    [(activeIndex)]="activeIndex" >
    <p-accordionTab *ngFor="let templateItem of toolService.selectTool.templateItemsToShow" header="{{templateItem.id}}" [transitionOptions]="'0ms'">
      <app-component-tile-info 
        [templateItem]=templateItem
        (onDestroyTemplateItem)="destroyTemplateItem()">
      </app-component-tile-info>
    </p-accordionTab>
  </p-accordion>
</p-card>
